<div class="portrait">
  <div class="icon-container"
       (pointerdown)="clicked = true"
       (pointerup)="clicked = false"
       (pointerleave)="clicked = false">
    <svg-icon class="icon-container-icon"
              src="../../assets/icons/knob.svg"></svg-icon>
  </div>
  <picture>
    <img class="img"
         (load)="loaded($event)"
         src="../../assets/images/{{portraitFileName}}">
  </picture>
  <picture>
    <img *ngIf="show"
         class="img__back"
         src="../../assets/images/mountain.gif">
  </picture>
</div>