@import '~swiper/css';
@import '~swiper/css/pagination';

.name {
  width: 100%;

  &__swiper {
    height: 65vh;
  }

  &__title {
    // display: flex;
    // justify-content: center;
    padding: 5vh 0 0 2vh;
    background-color: inherit;

    &-text {
      animation: appear 3s;
      font-family: 'Intel-Bold', sans-serif;
      font-size: 5vh;
      font-weight: 800;
      line-height: 120%;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img {
      animation: appear 3s;
      padding-top: 5vh;
      height: 50vh;
      width: auto;
    }
  }

  &__main {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 8vh 0 0 2vh;
    height: 100%;
    width: 95vw;

    &-title {
      font-size: 3vh;
      line-height: normal;
      font-family: 'Inter-Regular', sans-serif;
    }

    &-name {
      font-size: 2vh;
      line-height: normal;
      font-weight: normal;
      font-family: 'Inter-Regular', sans-serif;
      &-bold {
        font-family: 'Inter-Bold', sans-serif;
      }
    }

    &-description {
      font-size: 14px;
      line-height: normal;
      font-weight: 600;
      font-family: 'Inter-Thin', sans-serif;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: rgb(59, 58, 58) !important;
}
