<div class="name"
     [@background]="animation ? 'dark': 'bright'">
  <div class="name__title">
    <span class="name__title-text appear">nadja<br />geisser</span>
  </div>

  <swiper [pagination]="true"
          class="mySwiper"
          class="name__swiper">
    <ng-template swiperSlide>
      <div class="name__image-container">
        <picture>
          <img class="name__image-container-img appear"
               src="../../assets/images/{{portraitFileName}}">
        </picture>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="name__main">
        <div class="name__main-container">
          <span class="name__main-title">«Dare to fail, dare to win.»</span><br><br><br>
          <span class="name__main-name">Grafik Design & UI/UX</span><br><br>
          <div class="
                name__main-description">
            <span>Nadja erzählt Geschichten – in Worten, Bildern,<br>
              Farben, Formen und Interaktionen. Sie liebt<br>
              Design, das funktioniert, innovativ ist, auffällt und<br>
              hängen bleibt – dafür geht sie auch den Weg des<br>
              erhöhten Widerstandes: Gutes Design ist wie<br>
              Bergsteigen – der Weg ist steil, aber am Schluss<br>
              wird man von dem Ausblick überwältigt.</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="name__image-container">
        <picture>
          <img class="name__image-container-img"
               src="../../assets/images/mountain.gif">
        </picture>
      </div>
    </ng-template>
  </swiper>
</div>