<app-name-container [animation]="animation"
                    [portraitFileName]="portraitFileName!"
                    [position]="position"></app-name-container>
<div [@background]="animation ? 'dark': 'bright'"
     class="image-container">
  <ng-container *ngFor="let img of imagesData; let i = index;">
    <picture>
      <img class="image"
           src="../../assets/images/{{img.fileName}}"
           id="image{{i}}"
           [style.height.vh]="img.viewPortHeight"
           [style.width]="'auto'"
           [style.top.px]="img.distanceTop"
           [style.left.%]="img.distanceLeft"
           [style.z-index]="img.zIndex"
           (click)="openDialog(i)" />
    </picture>
  </ng-container>
</div>