.container {
  height: 100%;
  width: 100%;
  overflow-x: hidden; // hide horizontal
  height: 10000px;
  background-color: black;
  position: relative;

  .image {
    position: absolute;
  }
}
