<div class="name-container">
  <p class="text">nadja</p>
  <div class="spacer"></div>
  <p class="text">geisser</p>
</div>
<div class="container">
  <ng-container *ngFor="let img of imagesData; let i = index;">
    <img class="image"
         src="../../assets/images/{{img.fileName}}"
         id="image{{i}}"
         [style.height.vw]="img.viewPortHeight"
         [style.width]="'auto'"
         [style.top.px]="img.distanceTop"
         [style.left.%]="img.distanceLeft"
         [style.z-index]="img.zIndex"
         (click)="openDialog(img)" />
  </ng-container>
</div>