:host {
  overflow-y: scroll;
  overflow-x: hidden;
}

.image-container {
  width: 100vw;
  overflow: visible;
  background-color: rgb(48, 48, 48);
  z-index: 3;

  // move it outside the viewport
  transform: translate3d(-100vw, -300vh, 0);

  // flex for the name
  display: flex;
  justify-content: flex-end;

  position: relative;

  .text {
    padding: 20vh 25vh 0 0vh;
    color: rgb(238, 238, 233);
    font-family: 'AvantGarde', 'arial', sans-serif;
    font-size: 9vh;
    line-height: 120%;
  }

  .image {
    position: absolute;
  }

  app-name-container {
  }
}

@media only screen and (max-width: 768px) {
  .image-container {
    width: 100vw;
    overflow: visible;
    background-color: rgb(48, 48, 48);

    z-index: 7;
    height: 10000px;
    z-index: 3;

    // move it outside the viewport
    transform: translate3d(-100vw, -300vh, 0);

    // flex for the name
    display: flex;
    justify-content: flex-end;

    z-index: 11;
    position: relative;

    .text {
      padding: 7vh 5vh 0vh 0vh;
      color: rgb(238, 238, 233);
      font-family: 'AvantGarde', 'arial', sans-serif;
      font-size: 8vh;
      line-height: 120%;
    }

    .image {
      position: absolute;
    }
  }
}
