:host {
  overflow-y: scroll;
  overflow-x: hidden;
}
.name-container {
  width: 100vw;
  height: 107vh;
  position: relative;
  background-color: rgb(238, 238, 233);

  & .text {
    padding-top: 5vh;
    padding-left: 5vh;
    color: rgb(29, 28, 28);
    font-family: 'AvantGarde', 'arial', sans-serif;
    font-size: 480%;
    line-height: 120%;
  }

  & .portrait {
    height: 107vh;
    width: 120vw;
    position: absolute;
    background-color: rgb(29, 28, 28);
    left: -120vw;
    top: -5vh;
    z-index: 5;
    text-align: right;

    & .text {
      padding-right: 8vh;
      padding-top: 8vh;
      color: rgb(238, 238, 233);
      font-family: 'AvantGarde', 'arial', sans-serif;
      font-size: 480%;
      line-height: 120%;
    }
  }
}

.image-container {
  height: 10000px;
  width: 100%;
  overflow-x: hidden; // hide horizontal
  background-color: rgb(29, 28, 28);
  position: relative;

  .image {
    position: absolute;
  }
}
