<div class="name">
  <div class="name__main-container">
    <app-protrait *ngIf="portraitFileName"
                  [portraitFileName]="portraitFileName!"></app-protrait>
    <div class="name__main-text">
      <span class="title">«Dare to fail, dare to win.»</span>
      <br><br><br><br><br><br>
      <span class="name"><b>Nadja Geisser</b>, Grafik Design & UI/UX</span>
      <br><br><br><br><br>
      <span class="description">Nadja erzählt Geschichten – in Worten, Bildern,<br>
        Farben, Formen und Interaktionen. Sie liebt<br>
        Design, das funktioniert, innovativ ist, auffällt und<br>
        hängen bleibt – dafür geht sie auch den Weg des<br>
        erhöhten Widerstandes: Gutes Design ist wie<br>
        Bergsteigen – der Weg ist steil, aber am Schluss<br>
        wird man von dem Ausblick überwältigt.</span><br>
    </div>
  </div>
  <div class="name__footer-container">
    <mat-icon class="icon"
              fontIcon="keyboard_double_arrow_down">keyboard_double_arrow_down</mat-icon>
    <span>scroll to explore</span>
  </div>
</div>