.name-container {
  overflow-x: hidden; // hide horizontal
  overflow-y: scroll;
  width: 100vw;
  height: 20vh;
  padding: 5vh;

  & .text {
    color: rgb(238, 238, 233);
    font-family: 'AvantGarde', 'arial', sans-serif;
    font-size: 480%;
    line-height: 120%;
  }

  & .pf {
    line-height: 0em;
  }
}
