<div [@background]="animation ? 'dark': 'bright'"
     class="name-container">
  <ng-container *ngIf="mobile; else notMobile">
    <app-name-mobile [animation]="animation"
                     [portraitFileName]="portraitFileName">
    </app-name-mobile>
  </ng-container>
  <ng-template #notMobile>
    <app-name [animation]="animation"
              [portraitFileName]="portraitFileName"></app-name>
  </ng-template>
  <div class="name-container__footer">
    <svg-icon class="name-container__footer-icon"
              src="../../assets/icons/two-arrows.svg"></svg-icon>
    <span>scroll to explore</span>
  </div>
</div>