:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog-container {
  width: 100%;
  height: 100%;
  & img {
    max-width: 80vw;
    max-height: 80vh;
  }
}
.mat-dialog-container {
  background-color: transparent;
  box-shadow: unset;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-overlay-container {
  pointer-events: none;
}
