:host {
  display: flex;
  flex-direction: column;

  background-color: rgb(48, 48, 48);
  height: 100vh;
  width: 100vw;
}

::ng-deep ::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(27, 25, 25, 0.76);
}

::ng-deep ::-webkit-scrollbar-thumb {
  border: 4px solid rgb(58, 57, 57);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(29, 26, 26, 0.301);
}
